<% include ../partials/header.ejs %>

<h2 class="ui center aligned icon header">
        <i class="settings icon"></i>
        <div class="content">
          Product List
        </div>
      </h2>
      
      <%if(currentUser.tag === "admin"){%>
      <div class="ui center aligned segment ">
      
 <a href= "/products/new">
  <button  class="ui positive button">Add Product</button>
  </a>
</div>
<%}%>

<div class="ui divider"></div>
    <div class="ui center container">
    <% products.forEach(function(p){ %>
    <div class="ui items">
        <div class="item">
            <div class="ui small image">
                <img src="<%= p.image %>">
            </div>
            <div class="middle aligned content">
                <div class="header">
                    <%= p.name %>
                </div>
                <div class="description">
                    <p><%= p.description %></p>
                    <p>There are <%= p.box %> items in 1 box<p>
                </div>
                <div class="bottom aligned extra">
                    <div class="ui stackable grid container">
                        
                        <div class="two wide column">
                            <div class="ui right tag labels">
                                <p class="ui label">
                                    € <%= p.price %>
                                </p>
                            </div>
                        </div>
                        <div class="three wide column">
                        <% if(p.available){%>
                            <i class="green check icon"></i> Available</div>
                        <% }else{ %>
                            <i class="red remove circle icon"></i> Not Available</div> 
                        <%}%>
                            
                        <div class="five wide column">
                        <%if(currentUser.tag === "admin"){%>
                        <div class="ui buttons">
                        
                        <form id="delete-form" action="/products/<%= p._id%>?_method=DELETE" method="POST">
                            <button class="ui red button">Delete</button>
                         </form>

                        <div class="or"></div>
                            <a href="/products/<%= p._id%>/edit">
                                <button class="ui orange button">Edit</button>
                            </a>
                        </div>
                        <%}%>
                        </div>
                        <div class="six wide column">
                        <form id="add-to-cart-form" class="ui form" action="/products/<%= p._id%>/add-to-cart" method="POST">
                            <div class="fields">
                                <div class="field">
                                    <input type="number" name="box" placeholder="Items in Box" min="1" step="1" required>
                                </div>
                                <div class="field">
                                    <button class="ui blue button">Add To Cart</button>
                                </div>   
                            </div>   
                         </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="ui divider"></div>
         <% }); %>
    </div>
   

</div>

<div class="ui right rail">
    <div class="ui segment">
    <%if(order != null){%>
<h3>Cart</h3>
      <div class="ui divider"></div>
        <div class="ui items">
            <% if(order.products != null){%>
                <% order.products.forEach(function(pr){%>
                <div class="item">
                    <div class="content">
                    <a class="header"><%= pr.product.name %></a>
                    <div class="meta">
                        Amount : <span><%= pr.aantal%> </span>
                    </div>
                <div class="extra">
                   Price : € <%= pr.totaal %>
                </div>
                <div class="ui divider"></div>
                <%});%>
            <h4>Total Price : € <%=order.totalPrice%></h4>
            <%}else{%>
            <div class="item">
            <div class="content"><h3>No products yet</h3></div>
            </div>
            <%}%>
    <%}else{%>
        <h1>no current Order</h1>
    <%}%>
      
        </div>
        </div>
    </div>
</div>
  </div>

    <% include ../partials/footer.ejs %>