<% include ../partials/header.ejs %>

<h2 class="ui center aligned icon header">
        <i class="settings icon"></i>
        <div class="content">
          Product List
        </div>
      </h2>
      
      
      <div class="ui center aligned segment ">
      
 <a href= "/products/new">
  <button  class="ui positive button">Add Product</button>
  </a>
</div>

<div class="ui divider"></div>
    <div class="ui center container">
    <% products.forEach(function(p){ %>
    <div class="ui items">
        <div class="item">
            <div class="ui small image">
                <img src="<%= p.image %>">
            </div>
            <div class="content">
                <div class="header">
                    <%= p.name %>
                </div>
                <div class="description">
                    <p><%= p.description %></p>
                </div>
                <div class="extra">
                    <div class="ui stackable grid container">
                        
                        <div class="four wide column">
                            <div class="ui right tag labels">
                                <p class="ui label">
                                    € <%= p.price %>
                                </p>
                            </div>
                        </div>
                        <div class="four wide column">
                        <% if(p.available){%>
                            <i class="green check icon"></i> Available</div>
                        <% }else{ %>
                            <i class="red remove circle icon"></i> Not Available</div> 
                        <%}%>
                            
                        <div class="four wide column">
                        <!-- adding middleware -->
                        <div class="ui buttons">
                        
                        <form id="delete-form" action="/products/<%= p._id%>?_method=DELETE" method="POST">
                            <button class="ui red button">Delete</button>
                         </form>

                        <div class="or"></div>
                            <a href="/products/<%= p._id%>/edit">
                                <button class="ui orange button">Edit</button>
                            </a>
                        </div>
                        </div>
                        <div class="four wide column">
                        <form id="add-to-cart-form" action="/products/<%= p._id%>/add-to-cart" method="POST">
                            <div class="ui  blue right floated button">
                                Add to Cart
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="ui divider"></div>
         <% }); %>
    </div>
   

    </div>

    <% include ../partials/footer.ejs %>